@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

:root {
    --pic-width: 260px;
    --row-size: 10px;
    --pic-border-radius: 4px;
    --main-bg: #F6F5F2;
    --nav-bg: #F0EBE3;
    --pic-download-link-color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    background: var(--main-bg);
}

#container {
    padding: 10px;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--pic-width), 1fr));
    /* grid-auto-rows: var(--row-size); */
    justify-content: center;
    gap: 5px;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #ffffff;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    border-radius: var(--pic-border-radius);
}

.pic:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.01);
    cursor: pointer;
}

.pic .pic-img {
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
}

.pic:hover .pic-img {
    filter: brightness(70%);
}

.pic .pic-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.pic-link {
    opacity: 0;
    text-decoration: none;
    font-family: "Poetsen One";
    font-size: 30px;
    transition: all 300ms ease-in-out;
    text-wrap: wrap;
}

.pic:hover .pic-link {
    opacity: 1;
}

.pic-link-download {
    color: var(--pic-download-link-color);
}

.pic-link-download:hover {
    filter: brightness(80%);
}

.pic-link-delete {
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(255, 0, 0);
}

.pic-link-delete:hover {
    filter: brightness(200%);
}

.pic-long {
    grid-row: span 2 / auto;
}

.pic-wide {
    grid-column: span 1 /auto;
}

#create-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./../../media/patterns.jpg');
}

nav {
    background: var(--nav-bg);
}

nav form {
    display: flex;
    gap: 10px;
}