{% extends 'Gallery/layout.html' %}
{% load static %}

{% block head %}
    <title>Picsi</title>
{% endblock %}

{% block body %}

<div class="mt-5" id="container">
    <div id="gallery">
        {% for pic in pics%}
        <div class="pic {{ pic.size }}">
            <img src="{{ pic.image.url }}" alt="{{ pic.title }}" class="pic-img">

            <div class="pic-links">
                <a class="pic-link pic-link-download" download href="{{ pic.image.url }}">Download</a>
            </div>
            
            {% if request.user.is_authenticated %}
                {% if request.user == pic.author or request.user.is_superuser %}
                    <a class="pic-link pic-link-delete" href="{% url 'Gallery:delete' pic.id %}"><img style="height: 40px;" src="./../../media/delete.png" alt="Delete"></a>
                {% endif %}
            {% else %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}